<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sistema de Gestión de Eventos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a> |
        <a href="{{ url_for('create_event') }}">Crear Evento</a> |
        <span>Categorías:</span>
        {% for cat in ['Tecnología', 'Académico', 'Cultural', 'Deportivo', 'Social'] %}
            <a href="{{ url_for('events_by_category', category=cat) }}">{{ cat }}</a>
        {% endfor %}
    </nav>
    <hr>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>